.search-page-container {
    background-color: #534444; /* Couleur de fond */
    padding: 20px;            /* Espace autour du contenu */
    text-align: center;        /* Centrage du texte */
    color: #333;               /* Couleur du texte */
    font-family: Arial, sans-serif; /* Police utilisée */
  }
  
  .search-input {
    padding: 10px;
    width: 80%;
    max-width: 400px;
    margin: 10px 0;
    border: 1px solid #272222;
    border-radius: 5px;
  }
  
  .search-button {
    padding: 10px 20px;
    background-color: #7bb5f3;
    color: rgb(29, 24, 24);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #85b3e5;
  }
  