body {
    margin: 10px;
    background-image: url('https://cdn.pixabay.com/photo/2024/02/21/08/44/woman-8587090_1280.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
  }
  
  .app-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alignement en haut */
    align-items: flex-start; /* Alignement à gauche */
    height: 100vh;
    padding-left: 20px; /* Décalage du contenu à gauche */
  }
  
  /* Header Styling */
  .header {
    text-align: left; /* Aligne le header à gauche */
    width: 100%; /* Prend toute la largeur pour éviter la recentralisation */
    background-color: rgba(0, 123, 255, 1); /* La même couleur que le footer */
  }
  .header h1 {
    color: white;
    padding: 20px;
    font-size: 2.5rem;
    display: inline-block; /* Réduit la largeur du fond à celle du texte */
    margin: 0; /* Supprime les marges inutiles */
  }
  
  /* Main Content Styling */
  .main-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligne les éléments à gauche */
    width: 100%; /* Prend toute la largeur */
  }
  
  /* Sections Styling */
  .info-section h2,
  .feature-section h3 {
    text-align: left; /* Assure que les titres sont alignés à gauche */
  }
  
  .feature-card {
    margin-bottom: 20px;
    width: 100%;
  }
  
  .feature-section {
    text-align: left;
    width: 100%;
  }
  
  /* Footer Styling */
  .footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 123, 255, 1); /* Couleur bleu ciel */
    color: white; /* Couleur du texte */
  }
  
  .footer-icons a {
    margin: 0 20px;
    font-size: 3rem;
    color: white;
  }
  
  /* Ajustement pour mobile */
  @media (max-width: 768px) {
    .header h1 {
      font-size: 4rem;
    }
  
    .footer-icons a {
      font-size: 2rem;
    }
  
    .language-switch {
      position: absolute;
      top: 20px; /* Ajuste la position verticale selon tes besoins */
      right: 20px; /* Positionne à l'extrême droite */
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      color: white; /* Assure que l'icône et le texte sont en blanc */
    }
  
    .language-switch i {
      margin-right: 10px; /* Espace entre l'icône et le select */
    }
  
    .language-switch select {
      font-size: 1rem;
      background-color: transparent;
      color: white;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }
  